<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Expense Tracker</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Expense Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form action="#" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <%if (user){%>
          <h4>Hello <%=user.username%></h4>
          <%}else{%>
          <a href="/user/login">Please login</a>
          <%}%>
        <div class="bg-light color-dark p-3 text-center">
            <form action="#" method="POST" class="expense-adder">
                <h5 style="text-transform: uppercase">
                    When did you last spend? Enter here
                </h5>
                <input
                    type="text"
                    name="title"
                    placeholder="Enter your expense title"
                    required
                />
                <input
                    type="number"
                    name="spent"
                    placeholder="How much did you spent"
                    required
                />
                <input type="date" name="date" />
                <br /><br />

                <textarea
                    class="p-1"
                    placeholder="Why?? Explain us"
                    cols="60"
                    rows="5"
                    name="info"
                ></textarea
                ><br />
                <input class="btn btn-outline-dark w-20" type="submit" />
            </form>
        </div>
        <div class="container py-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Spent(NRS)</th>
                        <th scope="col">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i=0;i<expenses.length;i++){ %>
                    <tr>
                        <% currExp = expenses[i] %>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= currExp.title %></td>
                        <td><%= currExp.date %></td>
                        <td><%= currExp.spent %></td>
                        <td><a href="/expense/<%=currExp._id %>">Click me</a></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </body>
</html>
